@import 'https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap';

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mono {
  font-family: cutive mono, monospace;
}

.lol>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.lol span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;